# Build output
dist/
.astro/

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production

# Editor
.vscode/
.idea/

# Logs
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
